:root {
  --vermelho: #d81f26;
  --preta: #141414;
  --cinza: #aaa;
}

/* Para dar o reset à formatação em todos os navegadores*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: BebasNeue;
  src: url(../fonts/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: RobotoRegular;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: BebasKai;
  src: url(../fonts/BebasKai-Regular.otf);
}

@font-face {
  font-family: HelveticaNeue;
  src: url(../fonts/HelveticaNeue-Regular.ttf);
}

@font-face {
  font-family: NetflixSansIcon;
  src: url(../fonts/NetflixSansIcon.ttf);
}

@font-face {
  font-family: NetflixSansRegular;
  src: url(../fonts/NetflixSansRegular.ttf);
}

/* Elementos base*/
body {
  background-color: var(--preta);
  font-family: HelveticaNeue-Regular, HelveticaNeue, "Times New Roman", Times,
    serif;
  color: #fff;
}

header .container {
  display: flex;
  flex-direction: row; /*O padrão do flex é naturalmente row*/
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin: 5px;
  color: var(--vermelho);
  font-family: NetflixSansIcon, BebasKai, BebasNeue, Roboto-Regular, sans-serif;
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: var(--cinza);
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}

header nav a:hover {
  color: #fff;
}

main .container {
  margin-bottom: 5px;
}

/*Filme principal*/
.filme_principal {
  font-size: 16px;
  background: /*linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,1)),*/ url(../img/ironman.jpg);
  height: 400px;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme_principal .descricao {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 40%;
}

.titulo {
  margin-top: 5%;
  font-size: 30px;
  font-family: NetflixSansRegular, HelveticaNeue-Regular, HelveticaNeue,
    "Times New Roman", Times, serif;
  line-height: 1.1;
}

.botao {
  background-color: rgba(75, 75, 69, 0.5);
  border: none;
  color: white;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease all;
}

.botao:hover {
  background-color: white;
  color: #141414;
}

.botao i {
  margin-right: 8px;
}

i#info {
  font-size: 14px;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

.item {
  height: 100%;
  width: 100%;
  display: block;
}
